# Gemini API Key
# Get one here: https://aistudio.google.com/app/apikey
# RESTRICT THIS KEY IN GOOGLE CLOUD CONSOLE TO: https://steigeronline.co.za/
GEMINI_API_KEY=AIzaSyA-6YtGcSeo_CEfD_DfHd5Mt_XA0MAgIYQ
