# Gemini API Key
# Get one here: https://aistudio.google.com/app/apikey
# RESTRICT THIS KEY IN GOOGLE CLOUD CONSOLE TO: https://steigeronline.co.za/
GEMINI_API_KEY=AIzaSyCvnL5CBSnS6t5wPL3l_nHIGB7vq3PF_hU
